/* screem iphone android */
@media only screen and (max-width: 739px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: #4158D0;
        background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        -webkit-user-select: none;
        user-select: none;
    }
    .main{
        padding: 0 1rem;
    }
    header{
        height: 5rem;
        position: fixed;
        display: flex;
        background-image:linear-gradient(#FFCC70,#FFCC70) ;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    header a{
        text-decoration: none;
        box-sizing: border-box;
        font-size: 1.2rem;
        color: aliceblue;
        line-height: 5rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .content{
         font-size: 1rem;
    }
    .title{
        width: 100%;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        color: #eaf213;
    }
    .content_ways{
        width: 100%;
        background: rgba(240, 238, 238, 0.1);
        margin-top: 2rem;
    }
    .content_ways li{
        list-style: none;
        color: aliceblue;
        text-align: justify;
        width: 100%;
    }
    .ways_note,
    .ways{
        margin-bottom: 1rem;
        
    }
    .ways_note b {
        color: rgb(209, 52, 52);
        background-color: aqua;
    }
    .ways_note mark{
        color: red;
    }
    .content_ways> li >i{
    margin-right: 0.5rem;
    color: #e2e753;
    }
    .ways_3{
        color: white;
    }
    .ways_3 strong::selection{
        background-color: #eaf213;
        color: red;
       }
       .ways_3 strong {
        -webkit-user-select: text;
        user-select: text;
       }
    .ways_4 > li{
        
    }
    .ways_2 img,
    .ways_3 img,
    .ways_4 img,
    .ways_5 img,
    .ways_6 img,
    .ways_7 img,
    .ways_8 img,
    .ways_9 img,
    .ways_10 img,
    .ways_11 img,
    .ways_12 img{
        margin-top: 1.5rem;
        height: 100%;
        max-height: 100%;
        width: 80%;
        min-width: calc(100%-30%);
        text-align: center;

    }
    .ways_8 > .ways_8_1 > li > i{
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .ways_8 > .ways_8_1 > li >.way_8_1_1 >li >i{
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .way_8_1_1> h3{
        margin:  2rem 0;
        margin-left: 0.5rem;
        font-size: 1.2rem;
        color: rgb(174, 237, 25);
        text-align: justify;
    }
    .way_8_1_1> li{
        text-align: justify;
        width: 100%;
    }
    .way_8_1_1> h3 > i{
        margin-right: 4rem;
        color: #d04154;
    }
    .ways_8_1 > li > h2{
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0rem;
    }
    .ways_8_1 > li > h2>i {
        font-size: 1rem;
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .ways_8 > .ways_8_1 > li >.way_8_1_1 >li {
        text-align: justify;
    }
    video {
        margin: 2rem 0;
        width: 99%;
        object-fit: cover;
        box-shadow: #e2e753 1px 0 30px;
        border: 2px solid #e2e753;
        z-index: 0;
    }

    .footer{
        margin: 3rem 0;
    }
    .footer h2{
        text-align: justify;
        color: #eaf213;
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
    .footer h1{
        text-align: justify;
        color: #f0e8e6;
        font-size: 1.4rem;
        margin-bottom: 3rem;
        background-color: rgba(244, 238, 236, 0.2);
    }
}
/* the end iphone   and android */

/* ddaay laf tablet */
@media only screen and (min-width: 740px) and (max-width:1023px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: #4158D0;
        background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        -webkit-user-select: none;
        user-select: none;
    }
    .main{
        padding: 0 1rem;
    }
    header{
        height: 6rem;
        position: fixed;
        display: flex;
        background-image:linear-gradient(#FFCC70,#FFCC70) ;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    header a{
        text-decoration: none;
        box-sizing: border-box;
        font-size: 2rem;
        color: aliceblue;
        line-height: 6rem;
        margin-left: 1rem; 
        margin-right: 1rem;
    }
    .content{
         padding-top: 8rem;
         font-size: 1rem;
    }
    .title{
        margin-top: 2rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
        color: #eaf213;
        border: rgb(255, 254, 254, 0.5) 1px solid;
    }
    .content_ways{
        width: 100%;
        background: rgba(240, 238, 238, 0.1);
        margin-top: 3rem;
    }
    .content_ways li{
        list-style: none;
        color: aliceblue;
        text-align: justify;
        width: 100%;
    }
    .ways_note,
    .ways{
        margin-bottom: 1rem;
    }
    .ways_note b {
        color: rgb(209, 52, 52);
        background-color: aqua;
    }
    .ways_note mark{
        color: red;
    }
    .content_ways> li >i{
    margin-right: 0.5rem;
    color: #e2e753;
    }
    .ways_3{
        color: white;
    }
       .ways_3 strong{
        -webkit-user-select: text;
        user-select: text;
       }
       .ways_3 strong::selection{
        background-color: #eaf213;
        color: red;
       }
    .ways_4 > li{
        
    }
    .ways_2 img,
    .ways_3 img,
    .ways_4 img,
    .ways_5 img,
    .ways_6 img,
    .ways_7 img,
    .ways_8 img,
    .ways_9 img,
    .ways_10 img,
    .ways_11 img,
    .ways_12 img{
        margin-top: 1.2rem;
        height: 100%;
        max-height: 100%;
        width: 80%;
        min-width: calc(100%-30%);
        text-align: center;
    }
    .ways_8 > .ways_8_1 > li > i{
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .ways_8 > .ways_8_1 > li >.way_8_1_1 >li >i{
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .way_8_1_1> h3{
        margin:  3rem 0rem;
        margin-left: 1rem;
        font-size: 1.5rem;
        color: rgb(174, 237, 25);
        text-align: justify;
    }
    .way_8_1_1> li{
        text-align: justify;
        width: 100%;
    }
    .way_8_1_1> h3 > i{
        margin-right: 0.5rem;
        color: #d04154;
    }
    .ways_8_1 > li > h2{
        font-size: 1.5rem;
        margin: 3rem 0 3rem 0rem;
    }
    .ways_8_1 > li > h2>i {
        font-size: 1rem;
        color: #e2e753;
        margin-right: 0.5rem;
    }
    .ways_8 > .ways_8_1 > li >.way_8_1_1 >li {
        text-align: justify;
    }
    video {
        margin: 3rem 0;
        width: 99%;
        object-fit: cover;
        box-shadow: #e2e753 1px 0 30px;
        border: 2px solid #e2e753;
        z-index: 0;
    }

    .footer{
        margin: 3rem 0;
    }
    .footer h2{
        text-align: justify;
        color: #eaf213;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .footer h1{
        text-align: justify;
        color: #f0e8e6;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        background-color: rgba(244, 238, 236, 0.2);
    }

}

/* the dektops  */
@media screen and (min-width:1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 60.5%;
        background-color: #4158D0;
        background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        -webkit-user-select: none;
        user-select: none;
    }
    .main{
        padding: 0 6rem;
    }
    header{
        height: 15rem;
        position: fixed;
        display: flex;
        background-image:linear-gradient(#FFCC70,#FFCC70) ;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    header a{
        padding: 2rem;
        margin: 0 2rem;
        text-decoration: none;
        box-sizing: border-box;
        font-size: 4rem;
        color: aliceblue;
        line-height: 12rem;
    }
    .content{
        padding-top: 25rem;
        background-color: rgb(25, 192, 192, 0.3);
    }
    .content >.title{
        text-align: center;
        font-size: 3rem;
        color: #e2e753;
        margin-bottom: 5rem;
    }
    .content_ways {
        list-style: none;
        color: #f0e8e6;
        font-size: 3rem;
    }
    .content_ways >li> i{
        color: #e2e753;
        margin-right: 3rem;
    }
    .ways_note b{
        color: red;
    }
    .ways_note{
        margin: 3rem 0;
    }
    .ways_3 strong::selection{
        background-color: #eaf213;
        color: red;
       }
       .ways_3 strong{
        -webkit-user-select: text;
        user-select: text;
       }
    .ways_2 > img,
    .ways_3 > img,
    .ways_4 > img,
    .ways_6 > img,
    .ways_7 > img,
    .ways_8 > img,
    .ways_9 > img,
    .ways_10 > img,
    .ways_11 > img,
    .ways_12 > img{
        width: 50%;
        height: 10%;
        object-fit: cover;
    }
    .ways_5 > img{
        width: 50%;
        height: 10%;
    }
    .ways_8_1 > li{
        color: #f0e8e6;
        margin: 5rem 0;
        list-style: none;
        text-align: justify;
    }
    .ways_8_1 > li > i{
        margin-right: 3rem;
        color: #e2e753;
    }
    .way_8_1_1{
        list-style: none;
        color: #f0e8e6;
    }
    .way_8_1_1> h3 >i{
        margin-right: 3rem;
        color: #e2e753;
    }
    .way_8_1_1>  li > i{
        margin-right: 3rem;
        color: #e2e753;
    }
    .ways_8_1 > li> h2 > i{
        margin-right: 3rem;
        color: #e2e753;
    }
    video {
        width: 50%;
        height: 10%;
        display: flex;
        justify-content: center;
        z-index: 0;
    }
    .footer{
        margin: 6rem 0;
    }
    .footer h2{
        color: #9cd26f;
        text-align: justify;
        margin: 3rem 0;
    }
    .footer h1 b{
        color: #d0a041;
        font-size: 7rem;
        font-weight: 600;
    }

}
